<% content_for :title, t('.titles') %>

<div class="flex justify-between items-center mb-5">
  <h2 class="mb-0"><%= t '.titles' %></h2>
  <%= link_to t('.new'), new_admin_title_path if policy(Title).new? %>
</div>

<section>
  <ul id="titles">
    <% @titles.each do |title| %>
      <li id="<%= dom_id title %>">
        <article class="flex justify-between items-center">
          <header>
            <h3><%= title.name %></h3>
            <%= time_tag title.date_available %>
          </header>

          <nav>
            <%= link_to t('.show'), title %>

            <% if policy(title).edit? %>
              |
              <%= link_to t('.edit'), edit_admin_title_path(title) %>
            <% end %>
          </nav>
        </article>
      </li>
    <% end %>
  </ul>

  <%= paginate @paginator %>
</section>
