<% content_for :title, @title.name %>

<article>
  <header>
    <h2><%= @title.name %></h2>
    <%= time_tag @title.date_available %>
  </header>

  <section aria-label="<%= t '.description' %>">
    <p><%= @title.description %></p>
  </section>

  <nav>
    <%= link_to t('.return'), titles_path %>
    <% if policy(@title).edit? %>
      |
      <%= link_to t('.edit'), edit_admin_title_path(@title) %>
    <% end %>
  </nav>
</article>
