<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Everank" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100">
    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>" data-controller="flash">
          <p><%= value %></p>
          <button class="text-xl hidden" data-flash-target="dismiss">×</button>
        </div>
      <% end %>
    </div>

    <header>
      <nav class="bg-white shadow-sm p-5 flex items-center justify-between">
        <%= link_to 'Everank', root_path, class: 'text-xl font-semibold' %>

        <span class="flex items-center">
          <% if signed_in? %>
            <p class="mr-5 text-gray-600"><%= t('.signed_in_as') %>: <%= current_user.email %></p>
            <%= button_to t('.sign_out'), sign_out_path, method: :delete, class: 'm-0' %>
          <% elsif %w[sessions users].exclude?(controller_name) %>
            <%= link_to t('.sign_in'), sign_in_path,
              class: class_names('mr-5': Clearance.configuration.allow_sign_up?) %>

            <% if Clearance.configuration.allow_sign_up? %>
              <%= link_to t('sessions.form.sign_up'), sign_up_path %>
            <% end %>
          <% end %>
        </span>
      </nav>
    </header>

    <main class="container mx-auto mt-15 px-5 py-10 bg-white shadow-sm">
      <%= yield %>
    </main>
  </body>
</html>
